:root {
  color-scheme: light dark;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

#macos-app {
  margin: 0 auto;
}